@-webkit-keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}
@keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@-webkit-keyframes change-color {
  0% {
    background-color: var(--primary-color);
  }
  50% {
    background-color: var(--secondary-color);
  }
  100% {
    background-color: var(--primary-color);
  }
}

@keyframes change-color {
  0% {
    background-color: var(--primary-color);
  }
  50% {
    background-color: var(--secondary-color);
  }
  100% {
    background-color: var(--primary-color);
  }
}
